@model IEnumerable<P02_WebApr2023_Assg1_Team6.Models.Parcel>

@{
    ViewData["Title"] = "FailedParcelReport";
}

<h4 class="PageTitle">View Failed Parcel</h4>
<!-- Add a partial view to display a list of failed parcel records
in a tabular format. -->
<partial name="~/Views/CreateReport/_FailedParcelReport.cshtml" model="@Model" />