@model P02_WebApr2023_Assg1_Team6.Models.Quote
@{
    ViewData["Title"] = "FrontOfficeMain";
}

<div class="bg">
<div style="text-align:center; color:#f1b44b;">
	<h1 style="font-size: 80px"> Welcome to NP<br />Courier Service</h1>


	<strong style="color:black"><p>Quote of the day: @Model.q by @Model.a </p></strong>


</div>
</div>
